@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'IBM Plex Sans Thai';
	src: url('./assets/fonts/IBM-Plex-Sans-Thai/IBMPlexSansThai-Thin.ttf');
	font-weight: 100;
}

@font-face {
	font-family: 'IBM Plex Sans Thai';
	src: url('./assets/fonts/IBM-Plex-Sans-Thai/IBMPlexSansThai-ExtraLight.ttf');
	font-weight: 200;
}

@font-face {
	font-family: 'IBM Plex Sans Thai';
	src: url('./assets/fonts/IBM-Plex-Sans-Thai/IBMPlexSansThai-Light.ttf');
	font-weight: 300;
}

@font-face {
	font-family: 'IBM Plex Sans Thai';
	src: url('./assets/fonts/IBM-Plex-Sans-Thai/IBMPlexSansThai-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'IBM Plex Sans Thai';
	src: url('./assets/fonts/IBM-Plex-Sans-Thai/IBMPlexSansThai-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'IBM Plex Sans Thai';
	src: url('./assets/fonts/IBM-Plex-Sans-Thai/IBMPlexSansThai-SemiBold.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'IBM Plex Sans Thai';
	src: url('./assets/fonts/IBM-Plex-Sans-Thai/IBMPlexSansThai-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'Sukhumvit Set';
	src: url('./assets/fonts/sukhumvit-set/SukhumvitSet-Thin.ttf');
	font-weight: 100;
}

@font-face {
	font-family: 'Sukhumvit Set';
	src: url('./assets/fonts/sukhumvit-set/SukhumvitSet-Light.ttf');
	font-weight: 300;
}

@font-face {
	font-family: 'Sukhumvit Set';
	src: url('./assets/fonts/sukhumvit-set/SukhumvitSet-Text.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Sukhumvit Set';
	src: url('./assets/fonts/sukhumvit-set/SukhumvitSet-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'Sukhumvit Set';
	src: url('./assets/fonts/sukhumvit-set/SukhumvitSet-SemiBold.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'Sukhumvit Set';
	src: url('./assets/fonts/sukhumvit-set/SukhumvitSet-Bold.ttf');
	font-weight: 700;
}

/* Inter */
@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/Inter/Inter-Thin.ttf');
	font-weight: 100;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/Inter/Inter-ExtraLight.ttf');
	font-weight: 200;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/Inter/Inter-Light.ttf');
	font-weight: 300;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/Inter/Inter-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/Inter/Inter-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/Inter/Inter-SemiBold.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/Inter/Inter-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/Inter/Inter-ExtraBold.ttf');
	font-weight: 800;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/Inter/Inter-Black.ttf');
	font-weight: 900;
}